
<h1>Cocktail : <%= @cocktail.name %></h1>

<%= image_tag @cocktail.photo.url(:bright_face) %>

<ol>
<% @cocktail.doses.each do |dose| %>
  <li><%= dose.description %> <%= dose.ingredient.name %></li>
<% end %>
</ol>

<br>
<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Back", cocktails_path %>


<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit %>
<% end %>
